* {
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
    font-family: "MontMedium";
}
@font-face {
    font-family: "MontBoldItalic";
    src: url(Montserrat/static/Montserrat-BoldItalic.ttf);
}
@font-face {
    font-family: "MontMedium";
    src: url(Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "MontBold";
    src: url(Montserrat/static/Montserrat-Bold.ttf);
}
header {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: rgb(9,0,85);
    background: linear-gradient(180deg, rgba(9,0,85,1) 0%, rgba(20,0,187,1) 100%);
}
header h1 {
    font-size: 64px;
    font-family: "MontBold";
}
.card h4 {
    text-align: center;
}
h2 {
    padding-top: 48px;
    padding-bottom: 48px;
    text-align: center;
    font-size: 68px;
    text-shadow: 2px 2px 10px white;
}
.hobtext {
    font-size: 96px;
    text-shadow: 10px 10px #8400FF;
}
.ob {
    text-shadow: 0px 10px #0087FF;
}
.sobre {
    background-color: #2A1C9D;
    display: flex;
    flex-direction: row;
    font-size: 40px;
    padding: 40px 48px;
    gap: 20px;
}
span {
    color: #50E0FA;
    font-family: "MontBold";
}
.expli h2 {
    text-align: left;
    font-family: "MontBoldItalic";
    padding: 0px 0px;
    padding-bottom: 30px;
}
.obras {
    background-color: #5C4AF4;
}
.obra1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-bottom: 50px;
}
.obra2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-bottom: 50px;
}
.hobbie {
    background-color: #2A1C9D;
}
.desenho {
    display: flex;
    flex-direction: row;
    padding: 50px 50px;
    gap: 30px;
    font-size: 30px;
}
.jogos {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 50px;
    gap: 30px;
    font-size: 30px;
}
.lugares {
    background-color: #5C4AF4;
}
.tai {
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
}
.canada {
    display: flex;
    flex-direction: row;
    padding: 30px 30px;
}
.texto {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}
footer {
    background-color: #2A1C9D;
    height: 400px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer h2 {
    text-shadow: none;
}
::-webkit-scrollbar{
    width: 3px;
    background-color: none;
}
::-webkit-scrollbar-thumb{
    background-color: #50E0FA;
}